Repository HFooladi/rustmolbpe: changes, and which Codecov flags are due for each by the changed paths.
All: rust, python

codecov.yml:

# Codecov configuration
# https://docs.codecov.com/docs/codecov-yaml

coverage:
  precision: 2
  round: down
  range: "60...100"

  status:
    project:
      default:
        target: auto
        threshold: 5%
        informational: false
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "reach,diff,flags,files"
  behavior: default
  require_changes: true

flags:
  rust:
    paths:
      - src/
    carryforward: true
  python:
    paths:
      - tests/python/
    carryforward: true

Fix CI coverage job using uv for virtual environment
  .github/workflows/ci.yml
  CLAUDE.md
Due: none

Deployed af4454c with MkDocs version: 1.6.1
  api/index.html
  index.html
  quickstart/index.html
  search/search_index.json
  sitemap.xml
  sitemap.xml.gz
Due: none

Update documentation for v0.2.0 release
  .gitignore
  docs/api.md
  docs/index.md
  docs/quickstart.md
Due: none

Modularize codebase and update to v0.2.0
  CLAUDE.md
  Cargo.toml
  README.md
  docs/index.md
  docs/quickstart.md
  pyproject.toml
  src/constants.rs
  src/encoding.rs
  src/lib.rs
  src/padding.rs
  src/serialization.rs
  src/training.rs
  src/utils.rs
  src/vocabulary.rs
  src/word.rs
Due: rust

Add coverage badge and Python 3.13 support
  .github/workflows/ci.yml
  README.md
Due: none

Add preprocessing script and update default vocab size to 4096
  data/chembl36_vocab.txt
  data/pubchem_10M_vocab.txt
  preprocess_pubchem.py
  train_chembl.py
  train_pubchem.py
Due: none

Update CLAUDE.md: fix stale info, add utility scripts and gotchas
  CLAUDE.md
Due: none

Add strip=true to release profile for smaller binaries
  Cargo.toml
Due: none

Add __call__ method for HuggingFace-compatible tokenizer interface
  rustmolbpe.pyi
  src/lib.rs
  tests/python/test_tokenizer.py
Due: rust, python

Add character/atom/char-BPE tokenizers + ChEMBL stats script
  CHANGELOG.md
  CLAUDE.md
  README.md
  pyproject.toml
  rustmolbpe.pyi
  src/core.rs
  src/encoding.rs
  src/lib.rs
  src/pretokenizer.rs
  src/python.rs
  src/serialization.rs
  tests/python/test_tokenizer.py
  tokenizer_stats.py
Due: rust, python

Fix clippy::manual_checked_ops lint (Rust 1.95)
  src/training.rs
Due: rust

Add HuggingFace tokenizers JSON interop
  CHANGELOG.md
  CLAUDE.md
  Cargo.toml
  README.md
  ROADMAP.md
  pyproject.toml
  rustmolbpe.pyi
  src/core.rs
  src/huggingface.rs
  src/lib.rs
  src/python.rs
  tests/python/test_tokenizer.py
Due: rust, python

Update CLAUDE.md to use gh instead of gh_cli
  CLAUDE.md
Due: none

Add HuggingFace tokenizers JSON interop (#2)
  CHANGELOG.md
  CLAUDE.md
  Cargo.toml
  README.md
  ROADMAP.md
  pyproject.toml
  rustmolbpe.pyi
  src/core.rs
  src/huggingface.rs
  src/lib.rs
  src/python.rs
  tests/python/test_tokenizer.py
Due: rust, python

Finalize CHANGELOG for 0.3.0 release
  CHANGELOG.md
Due: none

Expose rustmolbpe.__version__ at runtime
  pyproject.toml
  rustmolbpe.pyi
  src/lib.rs
Due: rust

Revise ROADMAP and release CHANGELOG v0.3.0
  CHANGELOG.md
  ROADMAP.md
Due: none

Add ByteBPETokenizer (byte-level BPE)
  CHANGELOG.md
  CLAUDE.md
  README.md
  ROADMAP.md
  rustmolbpe.pyi
  src/bytelevel.rs
  src/core.rs
  src/encoding.rs
  src/huggingface.rs
  src/lib.rs
  src/pretokenizer.rs
  src/python.rs
  tests/python/test_tokenizer.py
Due: rust, python

Replace retired macos-13 runner with macos-15-intel
  .github/workflows/publish.yml
Due: none

Add AtomBPETokenizer as an alias for SmilesTokenizer
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/api.md
  rustmolbpe.pyi
  src/lib.rs
  src/python.rs
  tests/python/test_tokenizer.py
Due: rust, python

Release 0.4.0
  .gitignore
  CHANGELOG.md
  Cargo.toml
  ROADMAP.md
  SECURITY.md
  docs/index.md
Due: none

Move CI to Node 24 actions and Python 3.10-3.14
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  CHANGELOG.md
  CLAUDE.md
  CONTRIBUTING.md
  pyproject.toml
Due: none

Publish the docs site from CI and refresh it for v0.4.0
  .github/workflows/docs.yml
  CLAUDE.md
  README.md
  docs/api.md
  docs/index.md
  docs/quickstart.md
  pyproject.toml
Due: none

Add ByteBPETokenizer to tokenizer_stats.py
  .gitignore
  CHANGELOG.md
  tokenizer_stats.py
Due: none

Make min_frequency a pair-count threshold, as documented
  CHANGELOG.md
  docs/api.md
  rustmolbpe.pyi
  src/core.rs
  src/training.rs
  tests/python/test_tokenizer.py
Due: rust, python

Add design spec for vocabulary I/O merge order and lossless file
  design/specs/2026-09-16-vocab-io-design.md
Due: none

Add implementation plan for vocabulary I/O fix
  design/plans/2026-09-16-vocab-io.md
  design/specs/2026-09-16-vocab-io-design.md
Due: none

Keep merge priority order through SMILESPE load/save
  src/core.rs
  src/huggingface.rs
  src/serialization.rs
  src/training.rs
  src/vocabulary.rs
  tests/python/test_tokenizer.py
Due: rust, python

Keep merge order through pickle
  src/serialization.rs
  tests/python/test_tokenizer.py
Due: rust, python

Add lossless save / from_file tokenizer file
  rustmolbpe.pyi
  src/core.rs
  src/lib.rs
  src/native_format.rs
  src/python.rs
  tests/python/test_tokenizer.py
Due: rust, python

Document save / from_file and the SMILESPE ID caveat
  CHANGELOG.md
  CLAUDE.md
  README.md
  docs/api.md
  docs/quickstart.md
  rustmolbpe.pyi
  src/core.rs
  src/lib.rs
  src/python.rs
Due: rust

Harden tokenizer file loading and fix review findings
  CHANGELOG.md
  README.md
  docs/api.md
  docs/quickstart.md
  rustmolbpe.pyi
  src/core.rs
  src/huggingface.rs
  src/native_format.rs
  src/serialization.rs
  src/vocabulary.rs
  tests/python/test_tokenizer.py
  tokenizer_stats.py
Due: rust, python

Release 0.5.0
  CHANGELOG.md
  Cargo.toml
  ROADMAP.md
  SECURITY.md
Due: none

Plan an examples refresh in the v0.6.0 roadmap
  ROADMAP.md
Due: none

Refresh examples and smoke-test them in CI
  CHANGELOG.md
  CLAUDE.md
  README.md
  ROADMAP.md
  docs/quickstart.md
  examples/README.md
  examples/basic_usage.py
  examples/batch_processing.py
  examples/compare_tokenizers.py
  examples/persistence_and_interop.py
  examples/train_tokenizer.py
  tests/python/test_examples.py
Due: python
